<nav>
    <ul class="unorder-list">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="attractions" routerLinkActive="active">Attractions</a></li>
      <li><a routerLink="contact-us" routerLinkActive="active">Contact us</a></li>
    </ul>
  </nav>
  
<!-- <app-bioluminescenet-park-home></app-bioluminescenet-park-home> -->
<!-- Router outlet is used to load different components. Therefore Angular is called single page.-->
<router-outlet></router-outlet>
